VEHICLE_ID=1
LICENSE_PLATE=BG-123-AA

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

HEARTBEAT_INTERVAL=15
TELEMETRY_INTERVAL=600

INITIAL_LATITUDE=44.8176
INITIAL_LONGITUDE=20.4633
